h1 {
    font-size: 3em;
    font-weight: 300;
    font-family: sans-serif;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
}

div#info-dialog {
    width:960px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #28f;
}

div.header {
    background: #28f;
    color: white;
    margin-bottom: 5px;
}

div.tlist {
    border: 1px solid #adf;
    margin:5px;
}

div.tlist .sectionheader {
    background:#adf;
    font-weight:bold;
}

div.tlist div.file {
    margin-left:auto;
    margin-right:auto;
    display:table;
    white-space: nowrap;
    cursor: pointer;
}

div.files {
    width:100%;
}

div.files div.tlist {
    display:inline-block;
    width:40%;
    vertical-align:top;
}

div.body {
    width:100%;
    text-align:center;
}

div.command {
    display:table;
    margin: 0px 10px 0px 10px;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #adf;
    width: calc(100% - 20px);
}

div.command div.comblock {
    display:table-cell;
    vertical-align:middle;
    padding:0px 5px 5px 0px;
}

div.command div.flag {
    color: white;
    background: #444;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
    margin: auto;
    cursor: default;
}

div.flagblock {
    width:20px;
    text-align:center;
}

.file.highlight {
    color: #fa4;
}

.file.highlight2 {
    color: #4fa;
}

section {
    margin-bottom: 3em;
}

section p {
    text-align: justify;
}

svg {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: auto;
}

pre {
    border: 1px solid #ccc;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.node {
    cursor: pointer;
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.node.warning rect {
    stroke: #f00;
    fill: #f44;
    stroke-width:3px;
}

.node.highlight rect {
    stroke: #fa4;
    stroke-width: 4px;
    fill: #ff9;
}

.node.highlight2 rect {
    stroke: #4fa;
    stroke-width: 4px;
    fill: #9f9;
}

.node.BreakPoint rect{
    fill: #000;
    stroke: #000;
}

.node.BreakPoint text{
    fill: #fff;
    stroke: none;
}

.node.EndPoint rect{
    fill: #999;
}

.node.selected rect {
    stroke: #28f;
    stroke-width: 3px;
    fill: #7df;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.tipsy .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
}

.tipsy .description {
    font-size: 1.2em;
}
